.graph-content {
    display: grid !important;
    grid-template-rows: auto 1fr;
    justify-items: center;
    position: relative;
    width: clamp(100px, 95%, 95%) !important;
    min-height: 500px;
    height: clamp(500px, 100%, 1000px);
    padding: 1rem !important;
}

#chart-container {
    position: relative;
    background-color: var(--color1);
    border-radius: 1rem;
    padding: 1rem;
    width: 95%;
    height: 95%;
}