#ratings-overview {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 0;
    box-shadow: none;
    gap: 10px;
}

#notes-input {
    width: 100%;
    height: clamp(150px, 450px, 50vh);
}

#submit-button:disabled,
#submit-button:hover:disabled,
#submit-button:focus:disabled {
    background-color: lightslategray !important;
    cursor: not-allowed;
    content: 'test'
}